body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px #aaa;
}
nav ul {
  list-style-type: square;
  padding: 10;
  text-align: center;
}
nav ul li {
  border-right: 1px solid #000;
  padding-right: 20px;
  margin-right: 10px;
  display: inline;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  color: blue;
  font-weight: bold;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
section {
  margin: 20px 0;
  border: 3px solid #ddd;
  padding: 15px;
  box-shadow: 0 0 5px #aaa;
}
footer {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px #aaa;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.profile-pic {
  display: block;
  margin: 10px 0;
  width: 200px;
  height: auto;
}
h2 {
  margin-bottom: 30px;
}
